{% extends "base.html" %}

{% block libs %}
{{ super() }}
<script async src="https://siteimproveanalytics.com/js/siteanalyze_8343.js"></script>
{% endblock %}

{% block footer %}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
  
      <div>
	<a href="https://www.lbl.gov/" title="LBL" target="_blank">
	  <img alt="LBL Home" src="/assets/images/lbl_logo.png"
	       height="70" width="90" style="padding: 10px; height: 70px; width: 90px ">
	</a>
	<a href="https://science.energy.gov" title="DOE Office of Science" target="_blank">
	  <img alt="DOE Office of Science Home" src="/assets/images/doe_logo.png"
	       height="70" width="71" style="padding: 10px; height: 70px; width: 71px ">
	</a>
      </div>
      
      <div class="md-footer-copyright">
	<a href="{{ base_url }}/accounts/policy/#acknowledge-use-of-nersc-resources"
	   title="Acknowledge NERSC">Acknowledge NERSC</a><br>
	<a href="https://www.lbl.gov/disclaimers/" target="_blank"
	   title="Privacy and Security Notice">Privacy and Security Notice</a><br>
	<a href="https://www.nersc.gov/about/contact-us/" target="_blank"
	   title="Contact Us">Contact Us</a><br>
      </div>

      {% include "partials/social.html" %}
      
    </div>
  </div>
<footer>
{% endblock %}

{% block config %}
  {{ super() }}
  <script>
    var __search = {
      transform: function(query) {
        return query
      }
    }
  </script>
{% endblock %}
